*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
  }
  
  body {
    margin: 0;
  }
  
  .board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: none;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  .cell:last-child,
  .cell:nth-child(8),
  .cell:nth-child(7) {
    border-bottom: none;
  }

  .cell:hover {
    background-color: #f0f0f0;
  }

  .cell::before {
    content: '';
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
  }

  .cell[data-mark="x"]::before {
    background-image: url('https://assets.ccbp.in/frontend/react-js/tic-tac-toe-x-symbol-img.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cell[data-mark="o"]::before {
    background-image: url('https://assets.ccbp.in/frontend/react-js/tic-tac-toe-o-symbol-img.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cell[data-mark="x"]::before,
  .cell[data-mark="o"]::before {
    opacity: 1;
  }
  
  
